
.clearfix:after {

	content: "";
	display: table;
	clear: both;

}

.abs-center {

	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}


/* positions */

.pos-r {

	position: relative;

}

/* font-colors */

.sky-blue {

	color: #05c3f1 !important;

}

.orange {

	color: #f7bb4e !important;

}

.color-red-1 {

	color: #fd7a7a !important;

}

.color-green-1 {

	color: #27ea27 !important;

}

.color-yellow-1 {

	color: #d4d01a !important;	

}

.color-yellow-2 {

	color: #ffd706  !important;	

}

/* font-size */

.u-font-size-lg {

	font-size: 2rem !important;

}

.u-font-size-md {

	font-size: 1.5rem !important;

}

.u-font-size-sm {

	font-size: 1rem !important;

}

.u-font-size-xs {

	font-size: 1.25rem !important;

}

.u-font-size-xxs {

	font-size: 0.95rem !important;

}

.u-font-size-xxxs {

	font-size: 0.85rem !important;

}


/* text-alignment */

.u-text-align-center {

	text-align: center !important;

}

/* border */

.u-no-border {

	border: 0 !important;

}

.u-border-bottom-0 {

	border-bottom: 0 !important;

}

/* margin */

.u-no-margin {

	margin: 0 !important;

}

.u-margin-right-1 {

	margin-right: 1rem !important;

}

/* layout */

.l-flex {

	display: flex;
	justify-content: space-between;

}

.l-flex > * {

	flex: 1;

}

.l-col-3 > * {

	width: 33.33%;

}

.d-none {

	display:  none;

}

.d-block {

	display: block;

}

.mina {

	cursor: pointer;

}

/* custom tables */

table.matrix {

	margin: 10px;	

}

table.matrix a {

	font-size: inherit;

}

table.matrix tbody.bordered-bottom tr th,
table.matrix tbody.bordered-bottom tr td {

	border-bottom: 1px solid #676767 !important;


}

.matrix tfoot tr th:last-child,
.matrix tbody tr td:last-child {

	text-align: center;

}

table.bordered td {

	border:  1px solid white !important;

}

/* pop */

[data-pop]:hover,
.popper_close:hover {
	
	cursor: pointer;

}

.popper {

	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(0,0,0,0.96);
	z-index: 2500;
	display: none;
	white-space: nowrap;

}

.popper_close {

	color: white;
	width: 12px;
	height: 12px;
	display: inline-block;
	position: absolute;
	top: 25px;
	right: 35px;

}

h1 {

	font-size: 6.5rem !important;

}

h2 {

	font-size: 4.25rem !important;

}

td {

	font-size: 1.15rem !important;
	padding: 0.5rem !important;

}